li.nav-item {
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

div.card-body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}

div.card-footer {
    background-color: #f4f4f4;
}

div.card {
    height: 100%;
    max-height: 520px;
}

.float button {
    box-shadow: 2px 2px 3px #999;
}

/* for some reason this only works if there's that weird svelte code appended to .light-pagination-nav */
.light-pagination-nav.svelte-s5ru8s .pagination-nav {
    box-shadow: none;
}

@media screen and (max-width: 900px) {
    div.card-body {
        min-height: 26vh;
    }
}

@media screen and (max-width: 700px) {
    .light-pagination-nav div {
        max-width: 100%;
        font-size: .7rem;
    }

    span.option.number {
        padding: .2rem .4rem !important;
    }

    h5.modal-title {
        font-size: 1rem;
    }

    div.modal {
        max-height: 100% !important;
    }

    div.card-body {
        flex-direction: column;
    }

    div.card-body img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


}